.add-button {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    background-color: #384273 !important;
    -webkit-box-shadow: 0px 20px 44px -32px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 20px 44px -32px rgba(0,0,0,0.48);
box-shadow: 0px 20px 44px -32px rgba(0,0,0,0.48);
}